In [1]:
import pandas as pd
import chromadb
from chromadb.utils import embedding_functions
import uuid
import time

RECREATE_COLLECTIONS = False  # set True if you want to delete & rebuild collections every run
MODEL_NAME = "all-MiniLM-L6-v2"
TS = int(time.time())

In [2]:
from embed import load_excel_to_chroma

files = ["Book1.xlsx", "Book2.xlsx"]  # use the actual file names
load_excel_to_chroma(files)
print("Data successfully stored in ChromaDB ✅")

c:\Users\ADMIN\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Loaded 24 docs from Book1.xlsx
Loaded 13 docs from Book2.xlsx
Data successfully stored in ChromaDB ✅

In [3]:
from embed import load_excel_to_chroma, unified_search, get_all_documents

files = ["Book1.xlsx", "Book2.xlsx"]
load_excel_to_chroma(files)

print("All docs:", get_all_documents(5))
print("Search result:", unified_search("7up flavors"))

Loaded 24 docs from Book1.xlsx
Loaded 13 docs from Book2.xlsx
All docs: ['Book1.xlsx | komando pet 30cl | 672000 | 400 pallets | nan', 'Book1.xlsx | komandorgb 30cl | 300000 | 150 pallets | nan', 'Book1.xlsx | komando pet 50cl | 616000 | 350 pallets | nan', 'Book1.xlsx | mirinda  pet 50cl | 616000 | 150 pallets | nan', 'Book1.xlsx | mirinda lite pet 40cl | 447500 | 100 pallets | nan']
Search result: ['Book1.xlsx | mountain dew rgb 30cl | nil | nil | nil', 'Book1.xlsx | pepsi lite rgb 30cl | 300000 | 70 pallet | nan', 'Book1.xlsx | teem soda water rgb 30cl | 250000 | nil | nil']

In [4]:
from embed import reset_database, load_excel_to_chroma, unified_search, get_all_documents

reset_database()
files = ["Book1.xlsx", "Book2.xlsx"]
load_excel_to_chroma(files)

print("All docs preview:", get_all_documents(5))
print("Search result:", unified_search("7up flavors"))

Deleted 37 documents from ChromaDB
Loaded 24 docs from Book1.xlsx
Loaded 13 docs from Book2.xlsx
All docs preview: ['komando pet 30cl | 672000 | 400 pallets | nan', 'komandorgb 30cl | 300000 | 150 pallets | nan', 'komando pet 50cl | 616000 | 350 pallets | nan', 'mirinda  pet 50cl  | 616000 | 150 pallets | nan', 'mirinda lite pet 40cl  | 447500 | 100 pallets | nan']
Search result: ['komando mix berry  pet 30cl | 672000 | 300 pallet | nan', '7up lite pet 40cl | 447500 | nil | nil', 'pepsi lite rgb 30cl | 300000 | 70 pallet | nan']

In [5]:
print("Preview from Book2 data:")
print(get_all_documents(20))  # increase the limit to see all docs

Preview from Book2 data:
['komando pet 30cl | 672000 | 400 pallets | nan', 'komandorgb 30cl | 300000 | 150 pallets | nan', 'komando pet 50cl | 616000 | 350 pallets | nan', 'mirinda  pet 50cl  | 616000 | 150 pallets | nan', 'mirinda lite pet 40cl  | 447500 | 100 pallets | nan', 'mirinda lite rgb 30cl  | 250000 | nil | nil', 'mirinda lite rgb 50cl  | 400000 | 250 pallets | nan', 'pepsi pet 50cl | 616000 | 300 pallet | nan', 'pepsi lite pet 40cl | 300000 | 210 pallet | nan', 'pepsi lite rgb 30cl | 300000 | 70 pallet | nan', 'pepsi lite rgb 50cl | 350000 | 200 pallet | nan', '7up pet 50cl | 616000 | nil | nil', '7up lite pet 40cl | 447500 | nil | nil', '7up rgb 30 cl | 250000 | 200 pallet | nan', '7up rgb 50 cl | 400000 | 210 pallet | nan', 'teem soda water pet 50cl  | 616000 | 250 pallets | nan', 'teem soda water rgb 30cl  | 250000 | nil | nil', 'komando mix berry  pet 30cl | 672000 | 300 pallet | nan', 'teem biter lemon pet 50cl | 616000 | 250 pallets | nan', 'teem biter lemon rgb 30cl | 250000 | nil | nil']

In [6]:
import os
import pandas as pd
from embed import collection, get_all_documents, unified_search

book2_path = "Book2.xlsx"

if not os.path.exists(book2_path):
    raise FileNotFoundError(f"{book2_path} not found in notebook directory")

df2 = pd.read_excel(book2_path)
print(f"Book2 shape: {df2.shape}")

docs2 = []
for j, row in df2.iterrows():
    row_text = " | ".join([str(cell) for cell in row if str(cell).strip()])
    if row_text:
        docs2.append(f"Book2.xlsx | {row_text}")

if not docs2:
    raise ValueError("No valid rows to add from Book2.xlsx")

existing_ids = collection.get().get("ids", [])
start_idx = len(existing_ids)
ids2 = [f"book2_row_{start_idx + j}" for j in range(len(docs2))]

collection.add(documents=docs2, ids=ids2)
print(f"Added {len(docs2)} documents from Book2.xlsx ✅")

all_docs = get_all_documents(50)
book2_docs = [doc for doc in all_docs if "Book2.xlsx" in doc]
print(f"\nBook2 documents count: {len(book2_docs)}")
for d in book2_docs[:10]:
    print(d)

test_query = "Komando PET 50CL 400 pallets"
search_results = unified_search(test_query, n_results=5)
print(f"\nSearch results for '{test_query}':")
print(search_results)

Book2 shape: (13, 6)
Added 13 documents from Book2.xlsx ✅

Book2 documents count: 13
Book2.xlsx | David | Tata  | 3522 | owerri  | 205864892 | 10
Book2.xlsx | Mark  | Mercedies  | 25513 | Eket | 204589756 | 10
Book2.xlsx | Prince  | Tata  | 12545 | uyo | 21455696 | 10
Book2.xlsx | Micheal James | Tata  | 25846 | umuahia | 20215867 | 10
Book2.xlsx |  Prince Mark  | Daf  | 23589 | calabar | 247852 | 22
Book2.xlsx | James  | Daf  | 25687 | calabar | 20245666 | 22
Book2.xlsx | Peter Noble  | Mercedies  | 1255 | Eket | 214782256 | 10
Book2.xlsx | JUDE  | Mercedies  | 1458 | ngor okpala | 2124589 | 22
Book2.xlsx |  david oko | Tata  | 45899 | aba | 202458646 | 10
Book2.xlsx | Noble Eze  | Mercedies  | 25458 | aba | 20245867 | 22

Search results for 'Komando PET 50CL 400 pallets':
['komando pet 50cl | 616000 | 350 pallets | nan', 'komando pet 30cl | 672000 | 400 pallets | nan', 'komando mix berry  pet 30cl | 672000 | 300 pallet | nan', 'komandorgb 30cl | 300000 | 150 pallets | nan', 'mirinda lite pet 40cl  | 447500 | 100 pallets | nan']

In [7]:
from embed import unified_search

query = "Driver Prince Mark on calabar route"
results = unified_search(query, n_results=5)
print(results)

['prince mark  | daf  | 23589 | calabar | 247852 | 22', 'princewill eke | mack | 56485 | calabar | 201256485 | 22', 'Book2.xlsx |  Prince Mark  | Daf  | 23589 | calabar | 247852 | 22', 'Book2.xlsx | Princewill Eke | Mack | 56485 | calabar | 201256485 | 22', 'prince  | tata  | 12545 | uyo | 21455696 | 10']

In [8]:
query = "Which drivers deliver to Eket?"
results = unified_search(query, n_results=5)
print(results)

['mark  | mercedies  | 25513 | eket | 204589756 | 10', 'princewill eke | mack | 56485 | calabar | 201256485 | 22', 'david oko | tata  | 45899 | aba | 202458646 | 10', 'eke david  | howo cng | 12545 | benin  | 202154871 | 22', 'komando pet 50cl | 616000 | 350 pallets | nan']

In [9]:
from embed import unified_search
results = unified_search("Pepsi Lite RGB 30CL", n_results=10)
print(results)

['pepsi lite rgb 30cl | 300000 | 70 pallet | nan', 'pepsi lite rgb 50cl | 350000 | 200 pallet | nan', 'teem soda water rgb 30cl  | 250000 | nil | nil', 'pepsi lite pet 40cl | 300000 | 210 pallet | nan', 'mountain dew rgb 30cl | nil | nil | nil', 'pepsi pet 50cl | 616000 | 300 pallet | nan', 'teem biter lemon rgb 30cl | 250000 | nil | nil', 'mirinda lite rgb 30cl  | 250000 | nil | nil', '7up rgb 30 cl | 250000 | 200 pallet | nan', '7up rgb 50 cl | 400000 | 210 pallet | nan']

In [10]:
def load_excel_to_chroma(file_paths):
    for i, path in enumerate(file_paths):
        if not os.path.exists(path):
            print(f"File not found: {path}")
            continue
        df = pd.read_excel(path)
        docs = df.astype(str).apply(
            lambda row: f"{os.path.basename(path)} | " + " | ".join([str(cell).strip() for cell in row]),
            axis=1
        ).tolist()
        ids = [f"doc_{i}_{j}" for j in range(len(docs))]
        collection.add(documents=docs, ids=ids)
        print(f"Loaded {len(docs)} docs from {path}")

In [11]:
from embed import reset_database
reset_database()

Deleted 50 documents from ChromaDB

In [12]:
from embed import load_excel_to_chroma

files = ["Book1.xlsx", "Book2.xlsx"]
load_excel_to_chroma(files)

Loaded 24 docs from Book1.xlsx
Loaded 13 docs from Book2.xlsx

In [13]:
from embed import unified_search

print(unified_search("7up rgb 30 cl", n_results=10))

['7up rgb 30 cl | 250000 | 200 pallet | nan', '7up rgb 50 cl | 400000 | 210 pallet | nan', 'pepsi lite rgb 30cl | 300000 | 70 pallet | nan', 'mirinda lite rgb 30cl  | 250000 | nil | nil', 'teem biter lemon rgb 30cl | 250000 | nil | nil', 'teem soda water rgb 30cl  | 250000 | nil | nil', 'pepsi lite rgb 50cl | 350000 | 200 pallet | nan', 'mirinda lite rgb 50cl  | 400000 | 250 pallets | nan', 'mountain dew rgb 30cl | nil | nil | nil', '7up lite pet 40cl | 447500 | nil | nil']

In [14]:
from embed import get_all_documents

all_docs = get_all_documents(50)  # increase limit to see more
for doc in all_docs:
    print(doc)

komando pet 30cl | 672000 | 400 pallets | nan
komandorgb 30cl | 300000 | 150 pallets | nan
komando pet 50cl | 616000 | 350 pallets | nan
mirinda  pet 50cl  | 616000 | 150 pallets | nan
mirinda lite pet 40cl  | 447500 | 100 pallets | nan
mirinda lite rgb 30cl  | 250000 | nil | nil
mirinda lite rgb 50cl  | 400000 | 250 pallets | nan
pepsi pet 50cl | 616000 | 300 pallet | nan
pepsi lite pet 40cl | 300000 | 210 pallet | nan
pepsi lite rgb 30cl | 300000 | 70 pallet | nan
pepsi lite rgb 50cl | 350000 | 200 pallet | nan
7up pet 50cl | 616000 | nil | nil
7up lite pet 40cl | 447500 | nil | nil
7up rgb 30 cl | 250000 | 200 pallet | nan
7up rgb 50 cl | 400000 | 210 pallet | nan
teem soda water pet 50cl  | 616000 | 250 pallets | nan
teem soda water rgb 30cl  | 250000 | nil | nil
komando mix berry  pet 30cl | 672000 | 300 pallet | nan
teem biter lemon pet 50cl | 616000 | 250 pallets | nan
teem biter lemon rgb 30cl | 250000 | nil | nil
mirinda pineapple pet 50cl  | 616000 | 250 pallets | nan
mountain dew rgb 30cl | nil | nil | nil
aquaafina pet 75cl | 240000 | 400 pallets | nan
aquaafina pet 1 litter  | 300000 | 100 pallets | nan
david | tata  | 3522 | owerri  | 205864892 | 10
mark  | mercedies  | 25513 | eket | 204589756 | 10
prince  | tata  | 12545 | uyo | 21455696 | 10
micheal james | tata  | 25846 | umuahia | 20215867 | 10
prince mark  | daf  | 23589 | calabar | 247852 | 22
james  | daf  | 25687 | calabar | 20245666 | 22
peter noble  | mercedies  | 1255 | eket | 214782256 | 10
jude  | mercedies  | 1458 | ngor okpala | 2124589 | 22
david oko | tata  | 45899 | aba | 202458646 | 10
noble eze  | mercedies  | 25458 | aba | 20245867 | 22
godswill dike  | tata  | 25489 | port harcourt | 205898945 | 10
princewill eke | mack | 56485 | calabar | 201256485 | 22
eke david  | howo cng | 12545 | benin  | 202154871 | 22

In [20]:
book2_docs = [doc for doc in all_docs if doc.startswith("Book2.xlsx")]
print("Book2 documents count:", len(book2_docs))
for doc in book2_docs:
    print(doc)

Book2 documents count: 0

In [16]:
from embed import reset_database, load_excel_to_chroma

reset_database()  # clears all old documents
files = ["Book1.xlsx", "Book2.xlsx"]
load_excel_to_chroma(files)

Deleted 37 documents from ChromaDB
Loaded 24 docs from Book1.xlsx
Loaded 13 docs from Book2.xlsx

In [21]:
from embed import reset_database
reset_database()

Deleted 37 documents from ChromaDB

In [22]:
from embed import load_excel_to_chroma

files = ["Book1.xlsx", "Book2.xlsx"]
load_excel_to_chroma(files)

Loaded 24 docs from Book1.xlsx
Loaded 13 docs from Book2.xlsx

In [23]:
from embed import unified_search

print(unified_search("7up rgb 30 cl", n_results=10))
print(unified_search("driver to owerri", n_results=10))

['7up rgb 30 cl | 250000 | 200 pallet | nan', '7up rgb 50 cl | 400000 | 210 pallet | nan', 'pepsi lite rgb 30cl | 300000 | 70 pallet | nan', 'mirinda lite rgb 30cl  | 250000 | nil | nil', 'teem biter lemon rgb 30cl | 250000 | nil | nil', 'teem soda water rgb 30cl  | 250000 | nil | nil', 'pepsi lite rgb 50cl | 350000 | 200 pallet | nan', 'mirinda lite rgb 50cl  | 400000 | 250 pallets | nan', 'mountain dew rgb 30cl | nil | nil | nil', '7up lite pet 40cl | 447500 | nil | nil']
['david | tata  | 3522 | owerri  | 205864892 | 10', 'james  | daf  | 25687 | calabar | 20245666 | 22', 'princewill eke | mack | 56485 | calabar | 201256485 | 22', 'peter noble  | mercedies  | 1255 | eket | 214782256 | 10', 'prince mark  | daf  | 23589 | calabar | 247852 | 22', 'david oko | tata  | 45899 | aba | 202458646 | 10', 'jude  | mercedies  | 1458 | ngor okpala | 2124589 | 22', 'teem biter lemon rgb 30cl | 250000 | nil | nil', 'micheal james | tata  | 25846 | umuahia | 20215867 | 10', 'noble eze  | mercedies  | 25458 | aba | 20245867 | 22']